# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# IDE
.idea/
/.vscode/

# dependencies
client/node_modules
client/.pnp
client/.pnp.js
client/.yarn/install-state.gz
.venv

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem
__pycache__/

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
api/.env.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# storybook
client/*storybook.log